body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 30px;
}

body, html {
    height: 100%; /* Asegura que el elemento cubra toda la altura de la ventana */
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(8px);
    opacity: 0.3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura para centrar verticalmente */
    position: relative;
    z-index: 1;
}

canvas {
    width: 80%; /* Controla el ancho del canvas aquí */
    max-width: none;
    margin: 0 auto; /* Centrado horizontal automático */
}

